<!DOCTYPE html>
<html>
  <body>
    <h1>Posts</h1>
    <% @articles.each do |info| %>
      <strong><%= info.name %></strong><br />
      <%= info.content %>
      <br /><br />
    <% end %>
  </body>
</html>
