<h1>Articles</h1>

<ul>
<%@articles.each do |article|%>
  <li>
    <a href="/articles/<%=article.id%>">
    <%=article.title%>
    </a>
    <p><%=article.content%></p>
  </li>
  <%end%>
</ul>

<a href="/articles/new">Write a New Article</a>