<form action="/articles" method="post">
    <h1>title: </h1> <input type="text" name="[title]" id="title">
    <h2>content: </h2> <input type="text" name="[content]" id="content">
    <input type="submit" id="submit">
</form>


