<form method="post" action="/articles">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title"><br>
  <br>
  <label for="content"> Post: </label>
  <input id="content" type="text" name="content"><br>
  <br>
  <input type="submit" value="Submit">
  </form>