<!DOCTYPE html>
<html>
<head>
	<title>Create a New Article</title>
</head>
<body>
	<form action="/article" method="POST">
		<label for="title">Title: </label><input type="text" name="title" id="title">
		<label for="content">Content: </label>
		<textarea name="content" id="content" placeholder="Write your new article here">	
		</textarea>
		<input type="submit" value="Submit">
	</form>
</body>
</html>