<!DOCTYPE html>
<html>
<head>
	<title>Article <%= @article.id %> </title>
</head>
<body>
	<h1><%= @article.title %></h1>
	<br>
	<br>
	<br>
	<article> <%= @article.content %> </article>
	<br>
	<br>
	<br>
	<form method="POST" action="/articles/<%= @article.id %>/delete">
	  <input id="hidden" type="hidden" name="_method" value="DELETE">
	  <input type="submit" value="delete">
	</form>
</body>
</html>