<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1><%= @article.title %></h1>
    <div><%= @article.content %></div>
    <div>
      <form action="/articles/<%= @article.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">

        <button type="submit" name="delete">Delete</button>

      </form>
    </div>
  </body>
</html>
